@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@500&family=Lobster+Two:ital@1&family=Poppins:wght@500;600&family=Roboto:wght@500&family=Rokkitt&family=Satisfy&family=Ubuntu:wght@500;700&family=ZCOOL+QingKe+HuangYou&display=swap");
* {
  font-family: "Poppins", sans-serif;
  background-color: rgb(248, 229, 233);
}
img {
  width: 85px;
}
.image:hover {
  cursor: pointer;
}
